<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>627068276562-58tcgrj1nkdsolqamhnf674dek1fn87r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627068276562-58tcgrj1nkdsolqamhnf674dek1fn87r</string>
	<key>API_KEY</key>
	<string>AIzaSyDLcXZsgifyjzHPIs5D716KzMHbixRyT5o</string>
	<key>GCM_SENDER_ID</key>
	<string>627068276562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ytt.ArticleSystem</string>
	<key>PROJECT_ID</key>
	<string>articlesystem-2e3ab</string>
	<key>STORAGE_BUCKET</key>
	<string>articlesystem-2e3ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:627068276562:ios:7b1d1f480a9428b6</string>
	<key>DATABASE_URL</key>
	<string>https://articlesystem-2e3ab.firebaseio.com</string>
</dict>
</plist>